.nav-mobile-container {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 20rem;
	width: 100%;
	max-width: 100%;
	height: calc(100% - 9.6vh);
	margin: 12vh auto;
	z-index: 3;
}

.nav-menu {
	position: relative;
	min-width: 18rem;
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 0.5rem 0 1rem;
	padding-right: 2%;
	margin: 0 auto;
	background-color: #fff;
	border: 0.0625rem solid #fff;
	border-radius: 1.5rem;
	box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.17);
}

.nav-menu .nav-links-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0.25rem 0;
}

.nav-menu .nav-links-section .nav-links {
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.25rem 0.5rem;
}

.nav-menu .nav-links-section .nav-links .nav-link-item {
	flex-basis: 100%;
	width: 100%;
	padding: 0.5rem 0;
	margin: 0 auto;
}

.nav-menu .nav-links-section .nav-links .nav-link-item button {
	padding: 0.5rem 2rem;
	color: hsl(207, 13%, 34%);
}

.nav-menu .nav-links-section .nav-links .nav-login div {
	width: 100%;
}

.nav-menu .nav-links-section .nav-login .nav-login-section {
	border-top: 0.0625rem solid hsl(240, 2%, 79%);
}

.nav-menu .nav-links-section .nav-login .nav-login-section button {
	width: 100%;
	color: hsl(207, 13%, 34%);
	padding: 0.5rem 2rem;
}

.nav-menu .nav-links-section .nav-login .nav-signup-section button {
	border: 0.0625rem solid hsl(14, 100%, 72%);
	background: hsl(353, 100%, 62%);
	background: linear-gradient(90deg, hsl(14, 100%, 72%), hsl(353, 100%, 62%));
	background-image: linear-gradient(
		90deg,
		hsl(14, 100%, 72%),
		hsl(353, 100%, 62%)
	);
	color: #fff;
	padding: 0.5rem 2rem;
}
